<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3">Back</a>
            <img src="{{menuData[0].foodImg}}"
             style=
             "display: flex;
              width: 350px;
              height: 350px;
              border-radius: 5px;
              background-position: center;
              background-repeat: no-repeat; 
              background-size: cover;" >
            <h1 class="mt-2">{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].foodPrice | currency:'RS:'}}</p>
        </div>

        <div class="clo-lg-6 col-lg-12">
            <h1>Enter Your Details</h1>
            <form >
                <input type="text" class="form-control" placeholder="Enter Your Full Name"/>
                 <input type="text" class="form-control" placeholder="Enter Your mobile Number"/>
                <textarea class="form-control" placeholder="Enter your address" ></textarea>
                 <button class="btn btn-md btn-dark mt-3">Place Order</button>
            </form>

        </div>

    </div>


</div>
